<div id="id_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.png" %>
  </div>
    <div id="content">
      <h1>I'm Noel Irias</h1>
      <p>
        I made this website from a tutorial I saw on Youtube. It was a pretty good tutorial.
      </p>
      <p>
        If you think this is the greatest blog of all time, please to contact me at your convenience. Thanks!
      </p>
    </div>

</div>
